:root {
	--negro: #191D1F;
	--mostaza: #C9B687;
}

.fontTexto {
	font-family: 'Montserrat', sans-serif;
}

.fontTitulos {
	font-family: 'Fjalla One', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: gray;
	font-family: 'Montserrat', sans-serif !important;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: gray;
}

.relative {
	position: relative;
}


/* HEADER */
.c-navbarContainer {
	height: 15vh;
	background-color: var(--negro);
	display: flex;
	justify-content: space-between;
}

.c-innerNavbarContainer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-logoNavbar {
	background-image: url('https://i.imgur.com/cWjgx1t.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 80px;
	cursor: pointer;
}

.c-iconsContainer {
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90px;
	align-items: flex-end;
	color: white;
	padding-bottom: 20;
}

.c-headerContainer {
	background-color: whitesmoke;
	height: 6vh;
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.3);
}

.c-headerFiltroContainer {
	width: 70vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.c-categoriaSpan {
	color: gray;
}

.c-footerContainer {
	background-color: var(--negro);
}

.c-footerTitlesContainer {
	height: 5vh;
	width: 95vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding-top: 4px;
	color: rgb(235, 235, 235);
	margin-bottom: 10px;
}

.c-footerMailContainer {
	border: 1px solid gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.c-footerInfoContainer {
	width: 95vw;
	margin: 0 auto;
	padding-top: 5vh;
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.c-footerInfoContainer :first-child{
	margin-bottom: 10px;
}

.c-footerTextareaContainer {
	border: 1px solid gray;
}

#c-footerInputMail {
	background-color: transparent;
	color: white;
	border: none;
}

#c-footerInputMail:focus {
	outline: none;
}

.c-footerContactoContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 25vh;
	width: 80%;
}

#c-footerTextarea {
	background-color: transparent;
	color: white;
	resize: none;
	border: 1px solid rgb(75, 75, 75);
	border-radius: 2px;
	padding-left: 6px;
	padding-top: 4px;
	width: 80%;
}

.c-footerInput {
	background-color: transparent;
	border: 1px solid rgb(75, 75, 75);
	color: white;
	padding-left: 6px;
	padding-top: 10px;
	padding-bottom: 4px;
	border-radius: 2px;
	width: 80%;
}

#c-footerSubmit {
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(214, 214, 214);
	padding: 2px;
	font-size: .9rem;
	font-weight: bold;
	cursor: pointer;
}

.c-footerMenu {
	display: flex;
	flex-direction: column;
	color: rgb(175, 175, 175);
	font-family: 'Montserrat', sans-serif;
}

.c-footerTitle {
	color: rgb(230, 230, 230);
	font-family: 'Montserrat', sans-serif;
}

.c-footerInnerInfoContainer {
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
}

.c-footerInnerInfoContainer>span {
	margin-bottom: 3vh;
	color: gray;
	font-size: .9rem;
}

.c-footerImageLogo {
	width: 200px;
	height: 75px;
	background-image: url('../assets/logo.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 3vw;
}

.c-footerContactContainer {
	display: flex;
	align-items: center;
	margin-bottom: 1vh;
}

.c-footerContactContainer>span {
	margin-left: 4px;
}

.ant-btn {
	margin-right: 8px;
	margin-bottom: 8px;
}
.ant-row-rtl .ant-btn {
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 8px;
}

.c-inputHeader {
	min-width: 100px;
	display: flex;
	justify-content: center;
}

.c-cantidadesCarrito {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 32px;
	top: 4px;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 3px 5px 0px 5px !important;
}

@media (max-width: 768px) {
	
}

@media (max-width: 500px) {
	.c-IconPerson {
		margin-bottom: 2px;
		font-size: 29px !important;
	}

	.c-IconCart {
		font-size: 24px !important;
	}

	.spanHeaderSlider {
		font-size: 0.8rem;
	}

	.c-navbarContainer {
		height: 10vh;
	}

	.c-iconsContainer {
		align-items: center;
		margin-bottom: 0px;
		margin-top: 20px;
		width: 65px;
	}

	.c-headerFiltroContainer {
		width: 100vw;
	}

	.c-categoriaSpan {
		font-size: 0.7rem;
	}

	.c-logoNavbar {
		width: 150px;
		height: 60px;
	}
	

}

@media (max-width: 900px) {
	.BContainerContenido{
		width: 90%;
	}
	.BImagenRegistro {
		display: none;
	}
	.c-iconsContainer {
		margin-bottom: 10px;
	}

	.c-headerFiltroContainer {
		width: 95vw;
	}

	.c-categoriaSpan {
		font-size: 0.9rem;
	}

	.c-logoNavbar {
		width: 200px;
		height: 60px;
	}

	.BContainerContenido {
		display: flex;
		justify-content: center;
	}

	.botones-cd {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}

	.BContainerContenido{
		margin: 5vh 5vw;
		padding-right: 0;
	}

	.BContainerContenido div, .BContainerContenido form{
		width: 100%;
	}

	.BButonRegistro {
		width: 100%;
		height: 50px;
	}

	.btn-google {
		width: 100% !important;
		margin-top: -6px;
	}
	
	.BContainerIniciar{
		width: 100% !important;
		margin-bottom: 0px !important;
		padding-bottom: 0px !important;
	}

	.BContainerContenido form *:not(h2) {
		margin-bottom: 8px !important;
	}


	.btn-google span {
		margin-left: -45px !important;
	}
	
}

@media (max-width: 1100px) {

}