:root {
    --negro: #191D1F;
    --mostaza: #C9B687;
}

.fontTexto {
    font-family: 'Montserrat', sans-serif;
}

.fontTitulos {
    font-family: 'Fjalla One', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

.l-headerDelDani {
    width:100%;
    height: 19vh;
    background-color: grey;
}

.l-footerDelDani {
    width: 100%;
    height: 60vh;
    background: black;
    /* position: absolute; */
    /*Borrar Despues*/
    /* bottom: 0 */
    /*Borrar Despues*/
}

.l-categorias-main-section {
    min-height: 40vh;
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background: green; */
}

.l-contenedor-menu-lateral {
    width: 29%;
    height: 40vh;
    /* background: green; */
    display: flex;
    justify-content: flex-end;
}

.l-menu-lateral {
    width: 18vw;
    height: 30vh;
}

.l-contenedor-titulo-menu {
    width: 100%;
    /* background: lightpink; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.l-titulo-menuLateral {
    font-size: 20px;
}

.l-icono-roundMenu {
    font-size: 24px;
    color: rgb(114, 114, 114);
}

<<<<<<< HEAD
=======
.l-icono-roundMenu:hover {
    cursor: pointer;
}

/* .l-contenedor-opcion-por-categoria{ */
    /* background: lightskyblue; */
/* } */

>>>>>>> matu
.l-contenedor-opcion-por-categoria:hover {
    cursor: pointer;
    /* background: rgb(248, 248, 248); */
}

.l-barra-horizontal-1 {
    width: 100%;
    height: 2px;
    background: black;
    margin-bottom: 1px;
}

.l-barra-horizontal-2 {
    width: 100%;
    height: 1px;
    background: black;
}

.l-opcion-por-categoria {
    padding: 15px;
    border-top: 1px solid rgb(240, 240, 240);
    /* background: white; */
    /* margin-bottom: ; */
}

.l-contenedor-productos {
    width: 64%;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* background: red; */
}

.l-productos-top-section {
    width: 550px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* background: green; */
}

.l-filtro-select {
    height: 100%;
    background: none;
    outline: none;
    padding: 0px 15px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 1px;
    transition: all .3s ease;
}

.l-filtro-select:hover {
    cursor: pointer;
    background: rgb(243, 243, 243);
}

/* .select-filtro-item {
    cursor: pointer;
} */

/* .select-filtro-item:hover {
    cursor: pointer;
} */

.l-iconos-grid-container {
    display: flex;
    width: 80px;
    /* justify-content: space-between; */
    align-items: center;
    /* background: lightskyblue; */
}


.contenedor-grid-icon1 {
    /* background: yellow; */
    height: 100%;
    width: 50%;
}

.contenedor-grid-icon2 {
    /* background: lightblue; */
    height: 100%;
    width: 50%;
}

.l-subContenedor-grid-icon1 {
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    border: 1px solid rgb(255, 255, 255);

    
    /* margin-right: 20px; */
    /* background: red; */
}

.l-subContenedor-grid-icon2 {
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    border: 1px solid rgb(255, 255, 255);
    /* background: red; */
    /* padding: 0 8px; */
    /* margin-right: 20px; */
}

.l-subContenedor-grid-icon1:hover {
    border: 1px solid rgb(209, 209, 209);
}

.l-subContenedor-grid-icon2:hover {
    border: 1px solid rgb(209, 209, 209);
}

.l-icono-con-borde {
    transition: all .5s ease;
    border: 1px solid rgb(209, 209, 209);
}

.l-subContenedor-grid-icon1:hover{
    cursor: pointer;
}

.l-subContenedor-grid-icon2:hover{
    cursor: pointer;
}

.l-grid-icon1{
    font-size: 17px;
    color: rgb(143, 143, 143);
    /* margin: 20px; */
}

.l-grid-icon2{
    color: rgb(143, 143, 143);
    /* line-height: 5px; */
    /* border: 1px solid black; */
    /* padding: 6px; */
    /* font-size: 16px; */
    /* width: 20px; */
}

.l-productos-main-section {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 1.1s ease;
    /* transition: all 1s ease; */
    /* background: lightcyan; */
}

.contenedor-activo {
    opacity: 1;
    transition: all 1.1s ease;
}

.l-card {
    width: 250px;
    height: 450px;
    margin-right: 40px;
    /* transition:  all 1s ease; */
    /* opacity: 0; */
    /* border: 1px solid black; */
}

/* .l-card-activa {
    transition: all 1s ease;
    opacity: 1;
} */

.l-contenedor-foto {
    width: 100%;
    height: 75%;
    /* background: red; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: rgb(250,250,250);
    position: relative;
}

.l-contenedor-foto:hover{
    cursor: pointer;
}

.l-foto-card {
    /* width: 100%;
    height: 72%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; */
    transition-duration: .7s ease;
    opacity: 0;
    /* display: none; */
}

.grid-card-active {
    position: absolute;
    width: 100%;
    height: 72%;
    background-position:center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .7s ease;
    /* display: flex; */
}

/* .image-icons {
    display: flex;. 
    display hola algo de codigo
    hola
} */

.contenedor-iconosDeImagen {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* background: red; */
}

.l-contenedor-icono-de-imagen-1 {
    /* background: lightblue; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.l-contenedor-icono-de-imagen-2 {
    /* background: blue; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.l-subContenedor-icono-de-imagen {
    background: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: all .2s ease;
    /* justify-content: center; */
}

.l-subContenedor-icono-de-imagen:hover{
    height: 45px;
    width: 45px;
    font-size: 30px;
}

.l-icono-de-imagen1 {
    color: rgb(214, 214, 214);
    font-size: 20px;
    transition: all .2s ease;
    /* padding: 13px; */
}

/* .l-icono-de-imagen1:hover { */
    /* padding: 15px; */
    /* font-size: 50px; */
    /* margin-left: 10px; */
/* } */

.l-icono-de-imagen2 {
    color: rgb(214, 214, 214);
    font-size: 25px;
    transition: all .2s ease;
    /* padding: 10px; */
}

/* .l-icono-de-imagen2:hover {
    padding: 12px;
    font-size: 50px;
} */

.l-nombre-y-precio {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.l-nombre-producto {
    cursor: pointer;
}

.l-precio-producto {
    font-size: 14px;
}



/* List Products */

.list-card {
    width: 100%;
    height: 320px;
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 40px;
    /* opacity: 0; */
    /* transition: all 1s ease; */
}

/* .list-card-activa {
    opacity: 1;
    transition: all 1s ease;
} */


.contenedor-foto-listCard {
    height: 100%;
    width: 240px;
    /* background: red; */
    /* border: 1px solid black; */
    background-color: rgb(250,250,250);
    display: flex;
    align-items: center;
}

.contenedor-foto-listCard:hover {
    cursor: pointer;
}

.foto-listCard {
    width: 100%;
    height: 75%;
    /* background: url('https://casachula.com.ar/2242-large_default/camino-de-mesa-olivia.jpg'); */
    background-position: center;
    background-size: cover;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedor-info-listCard {
    /* width: 20%; */
    flex: 1;
    margin-left: 40px;
    height: 100%;
    /* border:1px solid black; */
}

.nombre-producto-listCard {
    font-size: 22px;
    margin-top: 40px;
    text-decoration: underline;
}

.nombre-producto-listCard:hover {
    cursor: pointer;
}

.contenedor-descripcion {
    margin-top: 20px;
}

.titulo-descripcion {
    font-size: 19px;
    font-weight: bold;
    /* font-style: italic; */
}

.texto-descripcion {
    font-size: 16px;
    /* font-style: italic; */
}

.contenedor-infoTecnica {
    margin-top: 10px;
}

.texto-infoTecnica {
    font-size: 16px;
}

.titulo-infoTecnica {
    font-size: 19px;
    font-weight: bold;
    /* font-style: italic; */
}

.precio-producto{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}



