:root {
    --negro: #191D1F;
    --mostaza: #C9B687;
}

.fontTexto {
    font-family: 'Montserrat', sans-serif;
}

.fontTitulos {
    font-family: 'Fjalla One', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

.l-headerDelDani {
    width:100%;
    height: 19vh;
    background-color: grey;
}

.l-footerDelDani {
    width: 100%;
    height: 60vh;
    background: black;
    /* position: absolute; */
    /*Borrar Despues*/
    /* bottom: 0 */
    /*Borrar Despues*/
}

.l-categorias-main-section {
    min-height: 40vh;
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background: green; */
}

.l-contenedor-menu-lateral {
    width: 29%;
    height: 40vh;
    /* background: green; */
    display: flex;
    justify-content: flex-end;
}

.l-menu-lateral {
    width: 18vw;
    height: 30vh;
}

.l-contenedor-titulo-menu {
    width: 100%;
    /* background: lightpink; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.l-titulo-menuLateral {
    font-size: 20px;
}

.l-icono-roundMenu {
    font-size: 24px;
    color: rgb(114, 114, 114);
}

.l-icono-roundMenu:hover {
    cursor: pointer;
}

/* .l-contenedor-opcion-por-categoria{ */
    /* background: lightskyblue; */
/* } */

.l-contenedor-opcion-por-categoria:hover {
    cursor: pointer;
    /* background: rgb(248, 248, 248); */
}

.l-barra-horizontal-1 {
    width: 100%;
    height: 2px;
    background: black;
    margin-bottom: 1px;
}

.l-barra-horizontal-2 {
    width: 100%;
    height: 1px;
    background: black;
}

.l-opcion-por-categoria {
    padding: 15px;
    border-top: 1px solid rgb(240, 240, 240);
    /* background: white; */
    /* margin-bottom: ; */
}

.l-contenedor-productos {
    width: 64%;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* background: red; */
}

.l-productos-top-section {
    width: 550px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* background: green; */
}

.l-filtro-select {
    height: 100%;
    background: none;
    outline: none;
    padding: 0px 15px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 1px;
    transition: all .3s ease;
}

.l-filtro-select:hover {
    cursor: pointer;
    background: rgb(243, 243, 243);
}

/* .select-filtro-item {
    cursor: pointer;
} */

/* .select-filtro-item:hover {
    cursor: pointer;
} */

.l-iconos-grid-container {
    display: flex;
    width: 80px;
    /* justify-content: space-between; */
    align-items: center;
    /* background: lightskyblue; */
}


.contenedor-grid-icon1 {
    /* background: yellow; */
    height: 100%;
    width: 50%;
}

.contenedor-grid-icon2 {
    /* background: lightblue; */
    height: 100%;
    width: 50%;
}

.l-subContenedor-grid-icon1 {
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    border: 1px solid rgb(255, 255, 255);

    
    /* margin-right: 20px; */
    /* background: red; */
}

.l-subContenedor-grid-icon2 {
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    border: 1px solid rgb(255, 255, 255);
    /* background: red; */
    /* padding: 0 8px; */
    /* margin-right: 20px; */
}

.l-subContenedor-grid-icon1:hover {
    border: 1px solid rgb(209, 209, 209);
}

.l-subContenedor-grid-icon2:hover {
    border: 1px solid rgb(209, 209, 209);
}

.l-icono-con-borde {
    transition: all .5s ease;
    border: 1px solid rgb(209, 209, 209);
}

.l-subContenedor-grid-icon1:hover{
    cursor: pointer;
}

.l-subContenedor-grid-icon2:hover{
    cursor: pointer;
}

.l-grid-icon1{
    font-size: 17px;
    color: rgb(143, 143, 143);
    /* margin: 20px; */
}

.l-grid-icon2{
    color: rgb(143, 143, 143);
    /* line-height: 5px; */
    /* border: 1px solid black; */
    /* padding: 6px; */
    /* font-size: 16px; */
    /* width: 20px; */
}

.l-productos-main-section {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 1.1s ease;
    /* transition: all 1s ease; */
    /* background: lightcyan; */
}

.contenedor-activo {
    opacity: 1;
    transition: all 1.1s ease;
}

.l-card {
    width: 250px;
    height: 450px;
    margin-right: 40px;
    /* transition:  all 1s ease; */
    /* opacity: 0; */
    /* border: 1px solid black; */
}

/* .l-card-activa {
    transition: all 1s ease;
    opacity: 1;
} */

.l-contenedor-foto {
    width: 100%;
    height: 75%;
    /* background: red; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: rgb(250,250,250);
    position: relative;
}

.l-contenedor-foto:hover{
    cursor: pointer;
}

.l-foto-card {
    /* width: 100%;
    height: 72%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; */
    transition-duration: .7s ease;
    opacity: 0;
    /* display: none; */
}

.grid-card-active {
    position: absolute;
    width: 100%;
    height: 72%;
    background-position:center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .7s ease;
    /* display: flex; */
}

/* .image-icons {
    display: flex;. 
    display hola algo de codigo
    hola
} */

.contenedor-iconosDeImagen {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* background: red; */
}

.l-contenedor-icono-de-imagen-1 {
    /* background: lightblue; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.l-contenedor-icono-de-imagen-2 {
    /* background: blue; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.l-subContenedor-icono-de-imagen {
    background: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: all .2s ease;
    /* justify-content: center; */
}

.l-subContenedor-icono-de-imagen:hover{
    height: 45px;
    width: 45px;
    font-size: 30px;
}

.l-icono-de-imagen1 {
    color: rgb(214, 214, 214);
    font-size: 20px;
    transition: all .2s ease;
    /* padding: 13px; */
}

/* .l-icono-de-imagen1:hover { */
    /* padding: 15px; */
    /* font-size: 50px; */
    /* margin-left: 10px; */
/* } */

.l-icono-de-imagen2 {
    color: rgb(214, 214, 214);
    font-size: 25px;
    transition: all .2s ease;
    /* padding: 10px; */
}

/* .l-icono-de-imagen2:hover {
    padding: 12px;
    font-size: 50px;
} */

.l-nombre-y-precio {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.l-nombre-producto {
    cursor: pointer;
}

.l-precio-producto {
    font-size: 14px;
}



/* List Products */

.list-card {
    width: 100%;
    height: 320px;
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 40px;
    /* opacity: 0; */
    /* transition: all 1s ease; */
}

/* .list-card-activa {
    opacity: 1;
    transition: all 1s ease;
} */


.contenedor-foto-listCard {
    height: 100%;
    width: 240px;
    /* background: red; */
    /* border: 1px solid black; */
    background-color: rgb(250,250,250);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.contenedor-foto-listCard:hover {
    cursor: pointer;
}

.foto-listCard {
    width: 100%;
    height: 75%;
    /* background: url('https://casachula.com.ar/2242-large_default/camino-de-mesa-olivia.jpg'); */
    background-position: center;
    background-size: cover;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedor-info-listCard {
    /* width: 20%; */
    flex: 1;
    margin-left: 40px;
    height: 100%;
    /* border:1px solid black; */
}

.nombre-producto-listCard {
    font-size: 22px;
    margin-top: 40px;
    text-decoration: underline;
}

.nombre-producto-listCard:hover {
    cursor: pointer;
}

.contenedor-descripcion {
    margin-top: 20px;
}

.titulo-descripcion {
    font-size: 19px;
    font-weight: bold;
    /* font-style: italic; */
}

.texto-descripcion {
    font-size: 16px;
    /* font-style: italic; */
}

.contenedor-infoTecnica {
    margin-top: 10px;
}

.texto-infoTecnica {
    font-size: 16px;
}

.titulo-infoTecnica {
    font-size: 19px;
    font-weight: bold;
    /* font-style: italic; */
}

.precio-producto{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}

/* Componente de producto Individual */

.contenedorPrincipal-productoIndividual{
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.productoIndividual-mainSection {
    width: 1500px;
    height: 90%;
    /* background: lightgray; */
    background: white;
    border: 1px solid green;
    display: flex;
}

.contenedor-carruselVertical {
    width: 200px;
    height: 100%;
    border: 1px solid black;
}

.contenedor-productoMostrado {
    height: 100%;
    width: 600px;
    border: 1px solid black;
    /* background: rgb(250,250,250); */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.producto-mostrado {
    width: 85%;
    height: 60%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: grey;
}

.contenedor-infoDeProductoMostrado {
    flex: 1;
    border: 1px solid red;
    margin-left: 40px;
    margin-top: 90px;
    /* background: white; */
}

.nombreProducto-CompIndividual {
    font-size: 24px;
    color: rgb(201, 182, 135);
}

.contenedor-valoracionDeProducto {
    margin-top: 20px;
    display: flex;
}

.barrita-divisora {
    margin-left: 7px;
    margin-right: 7px;
    color: black;
}

.opcion-AgregarOpinion {
    font-size: 16px;
    color: grey;
}

.precioProducto-componenteIndividual {
    margin-top: 50px;
    /* margin-bottom: 20px; */
    font-size: 19px;
}

.descripcion-componenteIndividual{
    margin-top: 30px;
    font-size: 18px;
}

.tituloDescripcion-CompIndividual{
    font-size: 20px;
    font-weight: bold;
}

.textoInfoTecnica-compIndividual {
    margin-top: 20px;
    font-size: 18px;   
}

.tituloInfoTecnica-compIndividual {
    font-size: 20px;
    font-weight: bold;
}


/* Pasarela de Pago */

.contenedorGeneral-pagina-pasarelaDePago {
    height: 350vh;
    width: 80%;
    margin: 5vh auto;
    /* background-color: lightblue; */
    display: flex;
}

.contenedorDeFormularios {
    width: 62%;
    height: 100vh;
    /* border:1px solid red; */
}

.contenedorLateral {
    width: 32%;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    /* border: 1px solid blue; */
}

.tituloDirecciones-pasarelaDePago {
    font-size: 27px;
}

.barraHorizontal-Pasarela {
    width: 100%;
    height: 1px;
    background-color: rgb(235, 233, 233);
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedor-descripcionDeDirecciones {
    display: inline-block;
}

.descripcionDirecciones {
    /* background-color: red; */
    display: inline-block;
}

.direccionesFormContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* padding-left: 30px; */
    width: 90%;
    margin: 0 auto;
}

.contenedor-input-direcciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    /* background-color: lightgray; */
    /* border: 1px solid black; */
    /* margin-right: 80px; */
}

.texto-direcciones {
    /* background-color: green; */
    width: 160px;
}

.input-direcciones {
    /* width: 600px; */
    width: 70%;
    height: 50px;
    border: 1px solid rgb(192, 192, 192);
    outline: none;
    border-radius: 2px;
    /* transition: all .1s ease; */
    /* margin-bottom: 20px; */
    /* background-color: red; */
}

.input-direcciones:focus{
    border: 2px solid grey;
}

.boton-continuar {
    margin-top: 20px;
    align-self: flex-end;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
}

.boton-continuar:hover {
    cursor: pointer;
}

.tituloMetodoEnvio-pasarelaDePago {
    margin-top: 70px;
    font-size: 27px;
}

.contenedorMetodosDeEnvio {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 60px;
    margin-left: 30px;
    justify-content: space-between;
}

.contenedorUnMetodo {
    width: 500px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
    margin-left: 30px;
    box-shadow: 1px 4px 4px 0px rgba(104, 104, 104, 0.2);
    border-left: 6px solid black;
}

.metodoDeEnvio{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    /* padding: 30px 270px 30px 40px; */
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
    box-shadow: 1px 4px 4px 0px rgba(104, 104, 104, 0.2);
    background-color: rgb(240, 240, 240);
}

.metodoDeEnvio:hover {
    cursor: pointer;
}

.metodoSeleccionado {
    border-left: 6px solid black;
    padding-left: 24px;
    background-color: rgb(230, 230, 230);
}

.metodoDePagoLabel {
    font-size: 20px;
    margin-left: 30px;
    /* background-color: red; */
}

.metodoDePagoOption {
    margin-right: 20px;
    /* color: black; */
    /* background-color: black !; */
}

.metodoDePagoOption:after {
    background-color: black;
}

.tituloEnvio-pasarelaDePago {
    margin-top: 70px;
    font-size: 27px;
}

.botonDeMetodoDeEnvio {
    margin-top: 50px !important;
}


/* Metodo de pago posta */

.metodoDePago {
    font-size: 20px;
    margin-left: 30px;
    /* margin-top: 20px; */
    display: inline-block;
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    /* border-radius: 5px; */
    box-shadow: 1px 4px 4px 0px rgba(104, 104, 104, 0.2);
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(180, 180, 180);
}

.metodoDePago:hover {
    cursor: pointer;
}

.credito {
    border: none;
}

.efectivo {
    margin-top: 40px;
    border: none;
}

.pagoSeleccionado {
    border-left: 5px solid black;
    padding-left: 25px;
    background-color: rgb(230, 230, 230);
    /* border-radius: 5px 0px 0px 5px; */
}

.botonDeMetodoDePago {
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-left: 30px; */
}


#PaymentForm {
    /* background-color: red; */
    /* border: 1px solid rgb(189, 189, 189); */
    /* width: 1200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creditCard-form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    /* background-color: lightgreen; */
    width: 600px;
}

.creditCard-input {
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(192, 192, 192);
    outline: none;
    border-radius: 2px;
    margin-bottom: 20px;
    /* transition: all .1s ease; */
    /* background-color: red; */
}

.contenedor-expiryCVC {
    /* background-color: red; */
    display: flex;
}

.cvcInput {
    margin-left: 20px;
}

/* .creditCard-example {
    background-color: green !important;
} */




