:root {
    --negro: #191D1F;
    --mostaza: #C9B687;
}

.fontTexto {
    font-family: 'Montserrat', sans-serif;
}

.fontTitulos {
    font-family: 'Fjalla One', sans-serif;
}

.fontCursive {
    font-family: 'Kristi', cursive;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*CREAR PRODUCTO*/
#formularioCargaProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}


#selectoresCategorias{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
}

#selectoresCategorias >select{
    width: 33%;
    margin: 0 5px;
    padding: 2px;
}
#contenedorInputsCargaProductos{
    margin-top: 8px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subcontenedorInputsCargaProductos{
    width: 80%;
}

.inputCargaProductos{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
}

.inputCargaProductos > input{
    width: 50%;
    padding: 3px;
}

.p-portaFoto{
    width: 15vw;
    height: 20vh;
    margin: 2vh 0;
    border: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.botonCargaArticulos{
    padding: 5px;
}

/*PAGINA INICIO*/


/*CONTENEDOR GRILLA CATEGORIAS*/
#p-ContenedorHomeGrillaCategorias{
    margin-bottom: 30vh;
    margin-top: 15vh;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.p-titGrillaCategoriaHome{
    font-size: 1.5rem;
}

#p-contenedorFotosCategorias{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh;
}

.p-FotoCategoria{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    padding: 6vh;
    box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -webkit-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -moz-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(70%);  
    width: 100%;
    height: 100%;
    position: relative;
}

.p-contenedorImg{
    overflow: hidden;
    width: 23%;
    height: 70vh;
}
.p-FotoCategoria:hover{
    filter: brightness(100%);
    transform: scale(1.05);

}

#p-muebles {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#p-vajilla{
    display: flex;
    align-items: center;
    justify-content: center;
}

#p-vajilla p{
    margin-bottom: 8vh;
}

#p-decoracion{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#p-decoracion p{
    margin-top: 15vh;
}

.p-FotoCategoria p{
    color: white;
    font-size: 3rem;
}

/*PARALLAX*/
#p-parallax{
    margin: 60vh 0 10vh 0;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-parallax h2{
    font-size: 6rem;
    font-family: 'Julius Sans One';
}

/*HOME FILTRO GRILLA*/
#p-contenedorFiltroGrilla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-contenedorTitFiltroGrilla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
}

#p-contenedorTitFiltroGrilla h2{
    font-size: 1.5rem;
    padding: 3vh;
    border-bottom: 1px solid #191D1F;
    margin-bottom: 6vh;
    color: #191D1F;
    cursor: pointer;
}

#p-contenedorProdFiltrados{
    display: flex;
    margin: 3vh;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.p-fotoProdFiltrado{
    width: 18%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.p-fotoProdFiltrado h3{
    color: #C9B687;
    font-size: 2rem;
    text-align: center;
    padding: 3vh;
}

