:root {
    --negro: #191D1F;
    --mostaza: #C9B687;
}

.fontTexto {
    font-family: 'Montserrat', sans-serif;
}

.fontTitulos {
    font-family: 'Fjalla One', sans-serif;
}

.fontCursive {
    font-family: 'Kristi', cursive;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*CREAR PRODUCTO*/
#formularioCargaProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--mostaza);
}

.p-contenedorTitCargaProd{
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 5vh 0 5vh -20vh;
    align-items: center;
}

.p-contenedorTitCargaProd :last-child{
    font-size: 4rem;
}

#selectoresCategorias{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    border-right: 1px solid black;
}

#selectoresCategorias >select{
    width: 80%;
    margin: 5vh;
    padding: 5px;
}

#contenedorInputsCargaProductos{

    margin-top: 8px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subcontenedorInputsCargaProductos{
    margin-left: 5vw;
    width: 50%;
}

.inputCargaProductos{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;

}

.inputCargaProductos > input, select{
    width: 50%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 8px;
}

.inputCargaProductos > input{
    width: 60%;
}

.p-portaFoto{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.p-contenedorInpFiles{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-height: 30vh;
    overflow: hidden;
    margin: 5vh auto;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}

.botonCargaArticulos{
    padding: 5px;
}

.p-agregarImg{
    display: none;
}

.p-labelForCam{
    cursor: pointer;
    padding: 100%;
}

/*PAGINA INICIO*/


/*MODAL NEWSLETTER*/
.p-inputNewsletter{
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    border-radius: 1rem;
    outline: none;
    border: none;
    margin-top: 1vh;
}

/*CARRUSEL PRINCIPAL*/
.p-containerTextSlider{
    width: 98vw;
    height: 75vh;
}

.p-fotoSlider{
    width: 110vw;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*CONTENEDOR GRILLA CATEGORIAS*/
#p-ContenedorHomeGrillaCategorias{
    margin-bottom: 30vh;
    margin-top: 15vh;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-titGrillaCategoriaHome{
    font-size: 1.5rem;
}

#p-contenedorFotosCategorias{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh;
}

.p-FotoCategoria{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    padding: 6vh;
    box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -webkit-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -moz-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(70%);
    width: 100%;
    height: 100%;
}

.p-contenedorImg{
    overflow: hidden;
    width: 23%;
    height: 70vh;
}
.p-FotoCategoria:hover{
    filter: brightness(100%);
    transform: scale(1.05);

}

#p-muebles {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#p-vajilla{
    display: flex;
    align-items: center;
    justify-content: center;
}

#p-vajilla p{
    margin-bottom: 8vh;
}

#p-decoracion{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#p-decoracion p{
    margin-top: 15vh;
}

.p-FotoCategoria p{
    color: white;
    font-size: 3rem;
}

/*PARALLAX*/
#p-parallax{
    margin: 60vh 0 10vh 0;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-parallax h2{
    font-size: 6rem;
    font-family: 'Julius Sans One';
}

/*HOME FILTRO GRILLA*/
#p-contenedorFiltroGrilla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-contenedorTitFiltroGrilla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
}

#p-contenedorTitFiltroGrilla h2{
    font-size: 1.5rem;
    padding: 3vh;
    border-bottom: 1px solid #191D1F;
    margin-bottom: 6vh;
    color: #191D1F;
    cursor: pointer;
}

#p-contenedorProdFiltrados{
    display: flex;
    margin: 3vh;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.p-fotoProdFiltrado{
    width: 18%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all 500ms ease-out;
}

.p-capa{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: all 500ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-capa:hover{
    opacity: 1;
}

.p-capa h3{
    width: 60%;
    color: var(--negro);
    font-size: 2rem;
    text-align: center;
    padding: 3vh;
    border-bottom: 1px solid var(--negro);
}

.p-contenedorIconosAcciones{
    display: flex;
    width: 50%;
    margin-top: 4vh;
    max-height: 2rem;
}

/*CONTENEDOR GRID FRASES*/
#p-granContenedorGridFrases{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 4vh;
}

#p-granContenedorGridFrases > h2{
    font-size: 7rem;
    color: var(--mostaza);
    letter-spacing: 1rem;
    font-weight: bold;
}

#p-contenedorGrid{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    width: 80%;
    height: 90vh;
    gap: 1rem;
    margin: 1rem auto;
}

#p-contenedorGrid >div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -webkit-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -moz-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    color: var(--negro);
    font-size: 2rem;
}

#p-contenedorGrid > :first-child{
    grid-row: 1/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    font-size: 2rem;
    padding-top: 3rem;
}


#p-contenedorGrid :nth-child(2){
    grid-row: 1/4;
    grid-column: 2/3;
}

#p-contenedorGrid :nth-child(3){
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    padding: 1rem;
}

#p-contenedorGrid :nth-child(4){
    grid-row: 2/4;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3em;
    padding: 0.25em;
}

/*PAGINA PROD IND*/
.p-iconoCarrito{
    cursor: pointer;
}

.p-contenedorFotoProdInv{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 60vw;
    height: 80vh;
}

.p-seccionImpar{
    display: flex;
}

#p-seccion2{
    display: flex;
    flex-direction: row-reverse;
}

.p-contenedorDescripcionProd{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:justify;
    margin: 0 5vw;
    padding: 3vh 0;
}

.p-contenedorDescripcionProd input, textarea{
    width: 90%;
    margin: 0.5rem 0;
    padding: 8px;
    resize: none;
    border: 1px solid var(--mostaza);
    border-radius: 3px;
    color: rgb(85, 85, 85);
}

.p-contenedorDescripcionProd textarea{
    height: 40vh;
    padding: 8px;
}

.p-contenedorDescripcionProd input:focus, .p-contenedorDescripcionProd textarea:focus{
    outline: none;
}

.p-contenedorDescripcionProd button{
    padding: 10px;
    background-color: var(--negro);
    border: none;
    border: 5px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#p-contenedorFotosChicas{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}

#p-contenedorFotosChicas > div{
    width: 11vw;
    height: 11vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -webkit-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -moz-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    outline: none;
    border: 0;
}

.nombreProducto-CompIndividual{
    text-align: center;
}

.p-descripcionDivision{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.p-contenedorIconosAcciones{
    width: 50%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.p-iconoCarrito{
    max-height: 1rem;
}

.p-formProdInd{
    background-color: var(--mostaza);
}

.p-agregarOpinion{
    cursor: pointer;
}

/* .p-formProdInd :first-child{
    display: flex;
    align-self: flex-start;
} */

.p-formProdInd  h2{
    font-size: 2em;
    margin-left: 1.5rem;
}

.p-formProdInd h2:nth-child(2) {
    font-size: 4em;
    margin-left: 1.5rem;
}

.p-contenedorTitulosConsulta  {
    width: 100%;
    display: flex;
    align-items: baseline;
}

/*REGISTRO*/
.BImagenRegistro{
    box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -webkit-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
    -moz-box-shadow: 2px 2px 9px -2px rgba(25,29,31,0.5);
}

/*RESPONSIVE HOME*/
@media (max-width: 1100px) {
    #p-parallax > h2{
        font-size: 5rem;
    }

    #p-granContenedorGridFrases >h2{
        font-size: 5.5rem;
    }

    #selectoresCategorias{
        width: 40%;
    }

    #subcontenedorInputsCargaProductos{
        width: 70%;
    }
}

@media (max-width: 955px) {
    #p-parallax > h2{
        font-size: 4rem;
    }

    #p-granContenedorGridFrases >h2{
        font-size: 4.5rem;
    }

    .p-fotoProdFiltrado{
        background-size: 250%;
    }
}

@media (max-width: 800px) {
    #p-parallax > h2{
        font-size: 3.5rem;
    }

    #p-granContenedorGridFrases{
        margin-top: 3rem;
    }

    #p-granContenedorGridFrases >h2{
        font-size: 3.5rem;
    }

    .p-fotoProdFiltrado{
        background-size: 250%;
    }

    #p-contenedorTitFiltroGrilla h2{
        font-size: 1rem;
        margin-bottom: 0;
    }

    #p-contenedorGrid{
        grid-template-columns: 2;
        grid-row: 3;
    }

    #p-contenedorGrid :first-child{
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #p-contenedorGrid :nth-child(2){
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .inputCargaProductos{
        width: 100%;
    }

    .inputCargaProductos label{
        font-size: 0.8rem;
    }

    .p-portaFoto{
        width: 25vw;
    }

    .p-contenedorInpFiles{
        width: 100%;
    }

    #selectoresCategorias >select{
        margin-left: 0;
        width: 90%;
    }

    .p-descripcionDivision{
        text-align: center;
        line-height: 1.5em;
    }

    .nombreProducto-CompIndividual{
        text-align: center;
    }

    .contenedor-valoracionDeProducto{
        flex-direction: column;
    }

    .contenedor-valoracionDeProducto  .barrita-divisora{
        display: none;
    }

    .p-contenedorDescripcionProd textarea{
        height: 30vh;
    }

    .l-categorias-main-section{
        flex-direction: column;
        align-items: center;
    }

    .l-contenedor-menu-lateral{
        width: 100%;
        margin-right: 0;
    }

    .l-contenedor-opcion-por-categoria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .l-contenedor-opcion-por-categoria p {
        width: 30%;
        font-size: 0.7rem;
        text-align: center;
    }

    .l-contenedor-opcion-por-categoria :first-child{
        font-size: 0.6rem;
    }

    .l-menu-lateral{
        height: 100%;
    }

    .l-contenedor-productos{
        width: 95%;
    }

    .l-card{
        width: 95%;
    }

    .list-card{
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3vh;
    }

    .contenedor-foto-listCard{
        width: 100%;
    }
}

@media (max-width: 670px) {

    .p-contenedorImg{
        width: 48%;
        margin-bottom: 5vh;
        height: 60%;
    }

    #p-contenedorFotosCategorias{
        flex-wrap: wrap;
        width: 100%;
    }

    #p-parallax > h2{
        font-size: 2.5rem;
    }

    #p-granContenedorGridFrases >h2{
        font-size: 2rem;
    }

    .p-fotoProdFiltrado{
        height: 30vh;
    }

    .p-capa h3{
        font-size: 1rem;
    }
}

@media (max-width: 600px){
    .inputCargaProductos label{
        font-size: 0.6rem;
    }

    .p-contenedorTitCargaProd{
        font-size: 2rem;
    }
    .p-contenedorTitCargaProd{
        margin: 0 0 0 -12vw;
    }

    .p-formProdInd h2:nth-child(2){
        font-size: 2rem;
    }

    .p-formProdInd h2{
        font-size: 1.5rem;
        margin-left: 0;
    }

    .BContainerContenido{
        flex-direction: column;
    }

    .BContainerTitulos div, .BContainerContenido div, .BContainerContenido form{
        width: 90%;
    }

    .nuevosClientes-cd{
        margin-bottom: 3vh;
    }

    .BButon{
        width: 30vw;
    }
}
@media (max-width: 500px) {
    .BContainerPrincipal{
        margin: 3vh 0;
    }
    #p-parallax > h2{
        font-size: 2rem;
    }

    #p-granContenedorGridFrases >h2{
        font-size: 1.4rem;
        letter-spacing: 0.8rem;
    }

    #p-contenedorTitFiltroGrilla h2{
        font-size: 0.7rem;
        padding: 2vh;
    }

    #p-contenedorProdFiltrados{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .p-fotoProdFiltrado{
        width: 48%;
        margin-bottom: 2vh;
        height: 25vh;
    }

    #p-contenedorProdFiltrados :last-child{
        display: none;
    }
    
    #contenedorInputsCargaProductos{
        flex-direction: column;
    }

    #selectoresCategorias{
        border-right: 0;
        width: 100%;
    }

    #selectoresCategorias >select{
        align-self: center;
        margin: 1vh auto;
    }

    #subcontenedorInputsCargaProductos{
        margin-left: 0;
        width: 90%;
    }

    .p-contenedorTitCargaProd{
        margin: 0 0 3vh -5vw
    }

    .p-seccionImpar{
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-bottom: 3vh;
    }

    .p-contenedorFotoProdInv{
        width: 100%;
        height: 30vh;
        margin-bottom: 3vh;
    }

    #p-seccion2{
        flex-direction: column;
        align-items: center;
        padding-bottom: 3vh;
    }

    .p-contenedorDescripcionProd{
        width: 100%;
    }

    #p-contenedorFotosChicas{
        width: 60%;
        margin-top: 3vh;
    }

    .contenedor-valoracionDeProducto{
        flex-direction: row;
    }
    
    .contenedor-valoracionDeProducto  .barrita-divisora{
        display: flex;
    }

    .p-titEnvianosConsulta{
        width: 100%;
        display: flex;
    }

    .descripcion-componenteIndividual{
        padding: 0 3vw;
    }

    #p-contenedorFotosChicas > div{
        width: 18vw;
        height: 18vw;
    }
}

@media (max-width: 400px){
    #p-ContenedorHomeGrillaCategorias{
        margin-top: 10vh;
    }

    .p-titGrillaCategoriaHome{
        font-size: 1.3rem;
    }

    .p-FotoCategoria p{
        font-size: 2.5rem;
    }

    #p-parallax h2{
        font-size: 1.6rem;
    }

    #p-contenedorTitFiltroGrilla h2{
        font-size: 0.5rem;
    }

    #p-granContenedorGridFrases >h2{
        font-size: 1rem;
        letter-spacing: 0.6rem;
    }

    #p-contenedorGrid{
        display: flex;
        flex-direction: column;
        height: 110vh;
    }

    #p-contenedorGrid>div{
        height: 50vh;
    }

    .p-contenedorTitCargaProd :first-child{
        font-size: 0.5em;
    }

    .p-contenedorInpFiles{
        flex-direction: column;
        max-height: 100%;
        
    }

    .p-portaFoto{
        width: 80% ;
        margin-bottom: 2vh;
        height: 40vh !important;
    }

    .inputCargaProductos > input{
        font-size: 0.5em;
    }

    .contenedor-valoracionDeProducto{
        flex-direction: column;
    }

    .contenedor-valoracionDeProducto .barrita-divisora{
        display: none;
    }

    .descripcion-componenteIndividual{
        text-align: center;
    }

    .BButon{
        width: 45vw;
    }
}

/*FOOTER*/
@media (max-width: 700px){
    .c-footerContainer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 3vw 0 3vw;
    }

    .c-footerInfoContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
    }

    .c-footerInfoContainer >div{
        width: 33vw;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

    }

    .c-footerInfoContainer >:last-child >:first-child{
        margin-bottom: 0;
    }
}

@media (max-width: 400px){
    .c-footerInfoContainer >div{
        width: 50vw;
    }
}