:root {
	--negro: #191D1F;
	--mostaza: #C9B687;
}

.fontTexto {
	font-family: 'Montserrat', sans-serif;
}

.fontTitulos {
	font-family: 'Fjalla One', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {

    border-collapse: collapse;
    border-spacing: 0;
}

.BContainerPrincipal,.BContainerIniciar, .BContainerContenido, .BContainerTitulos, .BContainerCarrito, .BContainerProductos, .BProductoContenido {
    display: flex;
}
.BContainerPrincipal{
    margin: 10vh 0px;
}
.BContainerContenido{
    margin: 5vh 5vw;
    padding-right: 5vw;
}
.BContainerCarrito{
    margin: 5vh 3vw;
    /* justify-content: space-between; */
}    
.BContainerContenido h2{
    margin-bottom: 5vh;
    font-size: 1.563em;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 200;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.BContainerContenido > div p, h4.BPrecioProducto, h5.BDescripcionProducto{
    margin-bottom: 5vh;
    padding-right: 2vw;
    font-family: 'Monserrat', sans-serif;
    font-size: 15px;
    color: #777;
    line-height: 20px;
}
.BTituloProducto{
    font-family: 'Monserrat', sans-serif;
}
h4.BPrecioProducto, h5.BDescripcionProducto{
    margin-bottom: 0;
}
.BPrecioProducto{
    font-weight: bold;
}
.BContainerContenido form *:not(h2){
    margin-bottom: 2vh!important;
}
.BContainerContenido form input, .BSelect{
    background-clip: padding-box;
    background-color: #fefefe;
    background-image: none;
    border-radius: 0;
    border: 1px solid #d1d1d1;
    color: #5f5f5f;
    display: block;
    font-size: .938em;
    line-height: 1.25rem;
    margin: 0;
    padding: .938rem 1.25rem;
    width: 100%;
    letter-spacing: .03em;
    margin-bottom: 5vh;
    padding-left: 2.75rem;
    font-family: 'Monserrat', sans-serif;
}
.BInputTablero{
    background-clip: padding-box;
    background-color: #fefefe;
    background-image: none;
    border-radius: 0;
    border: 1px solid #d1d1d1;
    color: #5f5f5f;
    margin-right: 0.2vw;
}
.BBold{
    font-weight:bold;
    font-size: 1.5vw;
}
.BContainerTitulos div, .BContainerContenido div, .BContainerContenido form{
    width: 50%;
}
.BContainerPassword{
    width: 100%!important;
    position: relative;
}
.BButon{
    cursor: pointer;
    font-size: 12px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
    padding: 1em 2em;
    background-color: var(--negro);
    border: 2px solid transparent;
    border-color: var(--negro);
    width: 12vw;
}
.BCursorPointer{
    cursor: pointer;
}
.BButon:hover{
    background-color: #fff;
    color: var(--negro);
}

.BMarginGoogle{
    margin-top:3vh;
}
.BIcon, .BEye{
    position: absolute; 
}
.BEye{
    right: 10px;
    top: 14px;
    cursor: pointer;
}
.BIcon {
    top: 14px;
    left: 10px;
}
.BInputCantidad{
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    color: #636363;
    background-color: #fff;
    padding: 0 .5rem;
    width: 4rem;
    text-align: center;
    height: 2.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.BImagenProducto{
    width: 250px;
    height: 180px;
    background-size: cover;
    background-position: center;
    margin-right: 5vw;
    align-self: flex-end;
    /* margin: 5vh 2vw; */
}

.BIconUp{
    position: absolute;
    top: -4px;
    right: 0px;
    cursor: pointer;
    /* border: 1px solid rgba(0,0,0,.15); */

}

.BIconDown{
    position: absolute;
    bottom: -4px;
    right: 0px;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,.15);
}

.BNum{
    /* margin-left: 5px; */
    width: 68%;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.15);
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
}

.BTableroCarrito{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Monserrat', sans-serif;
}
.BTableroContenido{
    width: 100%;
    background-color: rgb(248,248,248);
    min-height: 50vh;
    border: 1px solid rgba(0,0,0,.15);
    margin-bottom: 2vh;
    padding: 6vh 3vw;
}
.BTableroFilas{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.BMargginBoton{
    margin-bottom: 10vh;
    margin-top: 1vh;
}
.BMarginTop{
    margin-top: 4vh;
    margin-bottom: 3vh;
}
.BTableroTotal{
    margin-top: 4vh;
    margin-bottom: 10vh;
    align-items: center;
}
.BContenidoCarrito {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.BContainerProductos{
    width: 70%;
    flex-wrap: wrap;
}

.BContainerProducto{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    padding: 3vh 0;
    margin: 2vh 4vw;
    margin-right: 4vw;
    align-items: center;
}

.BContainerProducto h3{
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Monserrat', sans-serif;
}
.BProductoContenido{
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    height: 190px;
    /* align-self: flex-end; */
}
.BInputNumeric{
    height: 40px;
    border: #fff;
}
.BContainerNumeric{
    /* width: 50%; */
    display: flex;
    justify-content: center;
}
.BIconoClose{
    cursor: pointer;
}
.BContainerTituloProducto, .BTotalProducto{
    width: 30%;
}
.BTotalProducto{
    font-weight: bold;
}
.BImagenRegistro{
    width: 40%!important;
    height:90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.BContainerRegistro{
    justify-content: space-between;
}

.BContainerIniciar{
    align-items: center;
    width: 50%
}

.BContainerIniciar h6{
    width: 20vw;
    font-family: 'Monserrat', sans-serif;
}

.BGoogle, .BErrores{
    font-family: 'Monserrat', sans-serif;
}

.BErrores{
    color: rgb(207, 42, 42);
}

.BFilaInput{
    padding-right: 50px;
}

.BCodigoPromocional{
    cursor: pointer;
}

.BTableroFondo{
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.BContainerTableroFondo{
    margin-top: 50px;
}

.BPaddingTablero{
    padding-left: 40px;
}

.BIconTablero{
    margin-right: 10px;
}

.BCirculoRojo{
    background-color: red;
    border-radius: 100%;
    border-width: 1px;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
}

/* Estilos del preloader */

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
width: 33%;
height: 33%;
background-color: #333;
float: left;
-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
-webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
-webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
-webkit-animation-delay: 0s;
        animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
-webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
}
}

@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
} 
}